.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editableItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 16px;
  border-right: 8px solid brown;
}

.actionsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.img {
  border-radius: 4px;
  width: 80px;
}

.editButton {
  border: none;
  font-size: 20px;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 3px #ccc;
  width: 50px;
  outline: none;
}

.editButton:first-child {
  margin-right: 16px;
}
