.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inputContainer {
    width: 100%;
}

.form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
